<header class="login-header">
  <nav class="login-header-nav flex-container">
    <a href="#">
      <h1 class="login-logo">superbook</h1>
    </a>

    <div class="demo-user-sign-in">
      <h3>Demo Users</h3>
      <select id="demo-user">
        <option value="">
        <% DemoUsers.all.each do |name| %>
          <% email = name.split(" ").map(&:downcase).join(".") + "@gmail.com" %>
          <option value="<%= email %>">
            <%= name %>
          </option>
        <% end %>
      </select>
    </div>

    <form class="login-form flex-container" method="POST" action="<%= sessions_url %>" id="login-form">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div class="field-flex-item">
        <label for="login-email">Email</label>
        <input id="login-email" name="login[email]" type="email" autofocus tabindex="1">

        <input id="login-remember-me" name="remember_me" type="checkbox">
        <label for="login-remember-me" class="faded-label">Keep me logged in</label>
      </div>

      <div class="field-flex-item">
        <label for="login-password">Password</label>
        <input id="login-password" name="login[password]" type="password" tabindex="2">
      </div>

      <div class="submit-field">
        <button class="login-button" type="submit">Log In</button>
      </div>
    </form>
  </nav>
</header>

<main class="login-main flex-container">
  <section class="about">
    <h2>
      Connect with friends and the<br>
      world around you with Superbook.
    </h2>

    <ul class="features">
      <li class="feature">
        <div class="image">
          <%= image_tag("feed-feature.png") %>
        </div>
        <p>
          <span class="title">See photos and updates</span>
          from friends in News Feed.
        </p>
      </li>
      <li class="feature">
        <div class="image">
          <%= image_tag("timeline-feature.png") %>
        </div>
        <p>
          <span class="title">Share what's new</span>
          in your life on your Timeline.
        </p>
      </li>
      <li class="feature">
        <div class="image">
          <%= image_tag("search-feature.png") %>
        </div>
        <p>
          <span class="title">Find more</span>
          of what you're looking for with Superbook Search.
        </p>
      </li>
    </ul>
  </section>

  <section class="sign-up">
    <h2>Sign Up</h2>
    <p>It's free and it always will be</p>

    <form class="sign-up-form" method="POST" action="<%= users_url %>">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <ul>
        <li class="form-row flex-container">
          <input type="text" placeholder="First name" name="user[first_name]" class="name" value="<%= @user.first_name %>">
          <input type="text" placeholder="Last name" name="user[last_name]" class="name" value="<%= @user.last_name %>">
        </li>

        <li class="form-row">
          <input type="email" placeholder="Email" name="user[email]" value="<%= @user.email %>">
        </li>

        <li class="form-row">
          <input type="email" placeholder="Re-enter email" name="user[email_confirmation]" value="<%= @user.email_confirmation %>">
        </li>

        <li class="form-row">
          <input type="password" placeholder="Password" name="user[password]">
        </li>

        <li class="form-row">
          <label class="birthday">Birthday
            <a href="#" class="birthday-explanation">Why do I need to provide my birthday?</a>
          </label>
          <select name="user[birthday_month]">
            <% ApplicationHelper::MONTHS.each do |val, month| %>
              <option value="<%= val %>" <%= "selected" if @user.birthday_month == val %>>
                <%= month %>
              </option>
            <% end %>
          </select>

          <select name="user[birthday_day]">
            <% ApplicationHelper::DAYS.each do |val, day| %>
              <option value="<%= val %>" <%= "selected" if @user.birthday_day == val %>>
                <%= day %>
              </option>
            <% end %>
          </select>

          <select name="user[birthday_year]">
            <% ApplicationHelper::YEARS.each do |val, year| %>
              <option value="<%= val %>" <%= "selected" if @user.birthday_year == val %>>
                <%= year %>
              </option>
            <% end %>
          </select>
        </li>

        <li class="form-row radio">
          <input type="radio" name="user[sex]" id="sex-male" value="male" <%= "checked" if @user.sex == "male" %>>
          <label for="sex-male">Male</label>

          <input type="radio" name="user[sex]" id="sex-female" value="female" <%= "checked" if @user.sex == "female"%>>
          <label for="sex-female">Female</label>
        </li>
      </ul>

      <button class="sign-up-button">Sign Up</button>
    </form>
  </section>
</main>

<footer class="login-footer">
  <small>Ryan Goldenberg &copy; 2015</small>
</footer>

<script>
$(function() {

  $("#demo-user").on("change", function(e) {
    document.getElementById("login-email").value = e.currentTarget.value;
    document.getElementById("login-password").value = "password";
    document.getElementById("login-form").submit();
  });

})
</script>
